/* medium size */
@media screen and (min-width: 769px) {
  .hide-md {
    display: none;
  }

  /* cards */
  .card .card-footer {
    padding: 40px;
  }

  .card-wraper {
    width: 31%;
  }

  /* cards end */

  .banner-content .content-footer {
    margin-top: 2em;
  }

  .banner-content .content-footer button,
  .about-content .about-footer button {
    display: inline-block;
    margin: 0 15px;
  }

  .banner-content .banner-title {
    font-size: 50px;
  }

  .banner-content .banner-subtitle {
    font-weight: 600;
  }

  .about-title h2 {
    font-size: 40px;
    margin-top: 16px;
  }

  .speakers-body {
    text-align: center;
  }
  /* schedule */
  .schedule-body {
    margin-left: 2em;
  }

  .schedule-title h2 {
    font-size: 40px;
  }

  .schedule-subtitle p {
    font-size: 20px;
  }

  /* schedule card */
  .schedule-card-body {
    padding-bottom: 2rem;
  }

  .schedule-card-body .time {
    font-size: 18px;
  }

  .schedule-card-body .title {
    font-size: 22px;
  }

  .schedule-card-body .schedule-description,
  .schedule-card .schedule-card-icon {
    display: block;
  }

  /* ticket-stats */
  .ticket-stats .ticket-title {
    font-size: 34px;
  }

  .ticket-stats .countdown {
    margin-left: 1em;
  }

  /* testimonial */
  .testimonials-wraper .testimonials-header {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .testimonials-wraper .testimonials-subheader {
    font-size: 20px;
  }

  .testimonials-card {
    width: 95%;
    margin-inline: auto;
  }

  /* sponsors */
  .sponsers-list span {
    width: 30%;
  }

  /* loaction */
  .location-wraper {
    height: 85vh;
  }
  .location-details {
    margin-left: 40px;
    padding: 65px 60px;
  }

  .location-details .location-header {
    font-size: 40px;
    margin-top: 16px;
  }

  .location-details .details-body .info {
    font-size: 16px;
  }

  /* updates */
  .updates-wraper h2 {
    font-size: 36px;
    display: inline-block;
  }

  .updates-wraper .mail-address {
    display: inline-block;
    width: 50%;
    margin-left: 40px;
  }

  /* footer links */
  .events {
    width: 40%;
  }

  .event-lists {
    width: 20%;
  }

  .events,
  .event-lists,
  .instagram {
    float: left;
    padding-right: 30px;
  }

  /* footer */
  footer {
    font-size: 18px;
  }
}

/* large screen size */

@media screen and (min-width: 1025px) {
  .hide-lg {
    display: none;
  }

  .container {
    max-width: 990px;
    margin: 0 auto;
  }

  /* card */

  .card .card-footer {
    padding: 20px;
  }

  /* cards end */

  .nav-container {
    padding-top: 40px;
  }

  .list-container {
    display: block;
    position: absolute;
    right: 20em;
    top: 4.1em;
  }

  .list-container ul li {
    display: inline-block;
    padding: 0 10px;
  }

  .list-container a {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .list-container a:hover {
    text-decoration: underline;
  }

  .nav-banner {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .banner-content {
    height: 100vh;
  }

  .banner-content .banner-title {
    font-size: 60px;
  }

  .banner-content .banner-subtitle {
    font-size: 22px;
  }

  .nav-img {
    height: 83px;
  }

  .menu-container button {
    margin: 10px 0;
  }

  .btn {
    font-size: 16px;
    padding: 15px 46px;
    border-radius: 30px;
  }

  .about-title h2 {
    font-size: 50px;
    margin-bottom: 22px;
  }

  .about-body p {
    font-size: 20px;
    line-height: 35px;
  }

  /* countdown */

  .content-body {
    margin: 60px 0;
    background-color: rgba(242, 85, 67, 0.8);
    border-radius: 12px;
  }

  .countdown {
    display: block;
  }

  .countdown ul li {
    padding: 45px 45px 45px 0;
  }

  .countdown ul li:not(:first-child):before {
    content: "—";
    color: white;
    font-size: 12px;
    font-weight: 700;
  }

  .banner-content .content-footer {
    margin-top: 4em;
  }

  .stats {
    background: rgb(240, 75, 72);
    background: linear-gradient(
      270deg,
      rgba(240, 75, 72, 1) 0%,
      rgba(247, 127, 48, 1) 35%,
      rgba(252, 165, 30, 1) 100%
    );
  }

  .schedule-countdown .countdown {
    padding: 50px 30px;
  }

  .schedule-countdown .countdown ul li:not(:first-child):before {
    content: "";
  }

  .schedule-countdown .countdown ul li {
    padding: 0 20px;
    border-right: 1px solid #e9e9e9;
  }

  .schedule-countdown .countdown ul li:last-child {
    border-right: 0;
  }

  .schedule-body {
    margin-left: 4em;
  }

  .ticket-stats .countdown {
    margin-left: 3em;
  }

  .testimonials-card {
    width: 45%;
    display: inline-block;
    margin: 37px 20px;
    margin-left: 20px;
  }

  .testimonials-card:nth-child(2n + 1) {
    margin-left: 0;
  }
}
