:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;

  --clr-primary: #fdaf19;
  --clr-secondary: #f0474a;
  --clr-neutral: #ffffff;
}

body {
  font-family: var(--font-primary);
}

.hide-sm {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfloat::after {
  content: "";
  display: table;
  clear: both;
}

/* buttons */

.btn {
  text-transform: uppercase;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 11px 36px;
}

.btn-neutral {
  border: 2px solid var(--clr-neutral);
  color: var(--clr-neutral);
  background: transparent;
}

.btn-primary {
  color: #000;
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
}

.btn-secondary {
  color: #000;
  background: transparent;
  border: 2px solid var(--clr-secondary);
}

.btn-neutral:hover,
.btn-primary:hover,
.btn-secondary:hover {
  background-color: var(--clr-secondary);
  border: 2px solid var(--clr-secondary);
  color: var(--clr-neutral);
}

/* cards */

/* nav bar */
.nav-container {
  padding: 15px 15px;
}

.nav-banner {
  background-color: rgba(0, 0, 0, 0.5);
}

.hamburger {
  background: transparent;
  color: white;
  border: 0;
  font-size: 20px;
  padding: 10px;
  vertical-align: middle;
}

/* hero banner */
.hero-banner {
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-content,
.about-content {
  padding: 80px 0;
  text-align: center;
}

.banner-content {
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-content {
  color: white;
}

.banner-content .banner-title {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--font-secondary);
}

.banner-content .banner-subtitle {
  font-size: 14px;
}

/* banner end */

.content-footer button,
.about-footer button {
  display: block;
  margin: 15px auto;
}

.about-title h2 {
  font-size: 26px;
  margin-top: 14px;
  font-family: var(--font-secondary);
  font-weight: bold;
}

.about-body p {
  padding: 30px 0 50px 0;
  line-height: 30px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

/* about end */

/* stats */
.stats-body {
  text-align: center;
  width: 100%;
}

.countdown ul li {
  display: inline-block;
  padding: 20px;
}

.countdown ul li div {
  display: inline-block;
  vertical-align: middle;
}

.countdown ul li p:first-child {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.countdown ul li p:last-child {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.countdown ul li::before {
  padding-right: 20px;
}

/* stats */

.stats {
  color: white;
  background: rgb(240, 75, 72);
  background: radial-gradient(
    circle,
    rgba(240, 75, 72, 1) 0%,
    rgba(247, 127, 48, 1) 35%,
    rgba(252, 165, 30, 1) 100%
  );
}

.stats-body ul li {
  display: inline-block;
  padding-right: 20px;
}

/* speakers */
.speakers-section {
  padding-bottom: 80px;
}

.speakers {
  padding-top: 80px;
}

.speakers h2 {
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 40px;
  font-weight: bold;
}

.speakers .speakers-body {
  padding-top: 40px;
}

/* card */
.card-wraper {
  display: inline-block;
  width: 45%;
  margin-bottom: 15px;
}

.card-wraper {
  margin-right: 0.7em;
}

.card {
  width: 100%;
  position: relative;
}

.overlay {
  position: relative;
  display: inline-block;
}

.overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    to bottom,
    rgba(28, 28, 28, 0.23) 40%,
    rgba(27, 29, 29, 0.63) 60%,
    rgba(27, 29, 29, 0.92) 80%,
    rgba(27, 29, 29, 0.99) 100%
  );
}

.card img {
  width: 100%;
  height: 100%;
}

.card .card-footer {
  position: absolute;
  text-align: left;
  padding: 10px;
  color: white;
  bottom: 0;
  width: 100%;
}

.card-footer p:first-child {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-secondary);
}
